<div class="card">
    <button (click)='toggleCreateForm($event.target)' *ngIf="!newActivityTypeCreated">{{ newActivityTypeCreated ? 'Cancel' : 'New Activity Type' }}</button>
    <h2 *ngIf="!activityTypes.length && !newActivityTypeCreated">No Activity Types</h2>
    <app-activity-type-creation (onCreated)="onActivityTypeCreated($event)" *ngIf="newActivityTypeCreated" (onCanceled)="newActivityTypeCreated = false"></app-activity-type-creation>
</div>
<app-activity-type-card *ngFor='let activityType of activityTypes' [activityType]="activityType" (onDeleted)="onActivityTypeDeleted($event)"></app-activity-type-card>
