div.section {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 10px 0;
}

label {
    display: block;
    margin: 5px 0;
    margin-right: 5px;
}

div.section > input {
    margin-right: 5px;
}

div.button-section {
    justify-content: left;
    display: flex;
}

div.button-section > button {
    margin-right: 10px;
}

div.button-section > button:last-child {
    margin-right: 0;
}

input {
    display: inline-block;
    margin-right: 5px;
}
