div.card {
    margin: 1%;
}

form > div {
    margin-top: .5%;
}

.parameter-item {
    margin-left: 1%;
}

button {
    margin: 5px;
    margin-bottom: 0;
}

h2 {
    display: inline;
    margin-right: 1%;
}

label {
    margin: 5px 0;
    display: block;
}

label.input-label {
    display: inline-block;
}

.error-label {
    color: brown;
}