<div class="card">
    <form [formGroup]="formGroup" (ngSubmit)="update()">
        <h2>{{ isEditMode ? "Edit " + activityType.name : activityType.name }}</h2>
        <button type="button" *ngIf="isEditMode" (click)="addNewDetail()">Add new detail</button>
        <button type="submit" *ngIf="isEditMode" [disabled]="formGroup.status === 'INVALID'">Submit</button>
        <button type="button" *ngIf="!isEditMode" (click)="viewActivities()">View Activities</button>
        <button type="button" (click)="toggleEditMode()">{{ isEditMode ? "Cancel" : "Edit" }}</button>
        <button type="button" *ngIf="!isEditMode" (click)="remove()">Delete</button>
        <div *ngIf="!isEditMode">
            <label>{{ activityType.detailNames?.length ? "Details" : "No Details" }}</label>
            <label *ngFor="let detail of activityType.detailNames"><b>{{detail}}</b></label>
        </div>

        <div *ngIf="isEditMode">
            <div>
                <label for="name">Name: </label>
                <input type="text" id="name" formControlName="name">
                <label class="error-label"
                    *ngIf="formGroup.controls['name'].errors?.pattern && (formGroup.controls['name'].touched || formGroup.controls['name'].dirty)">
                    Field contains forbidden symbols. Allowed: latin letters and digits
                </label>
                <label class="error-label"
                    *ngIf="formGroup.controls['name'].errors?.required && (formGroup.controls['name'].touched || formGroup.controls['name'].dirty)">
                    Field must be filled
                </label>
            </div>
            <label>{{getDetails().controls.length ? 'Details' : 'No Details'}}</label>
            <div *ngFor="let detail of getDetails().controls; let i = index" formArrayName="detailNames">
                <input type="text" id="detail{{i}}" [formControlName]="i">
                <button (click)="removeDetail(i)">remove</button>
                <label
                    *ngIf="getDetails().controls[i].errors?.pattern && (getDetails().controls[i].dirty || getDetails().controls[i].touched)"
                    class="error-label">
                    Field contains forbidden symbols. Allowed: latin letters and digits
                </label>
                <label
                    *ngIf="getDetails().controls[i].errors?.required && (getDetails().controls[i].dirty || getDetails().controls[i].touched)"
                    class="error-label">
                    Field must be filled
                </label>
            </div>
            <label><b *ngIf="errorText" class="error-label">{{ errorText }}</b></label>
        </div>
    </form>

</div>