h2 {
    display: inline-block;
}

form > div:not(:last-child) {
    margin-bottom: 10px;
    width: 100%;
}

button#edit {
    float: right;
}

div.button-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.button-section > button {
    margin: 1%;
}