<div *ngIf="!activityTypes?.length" class="card">
    <h2 >No activity types exist. Create one at the <a routerLink="/activity-types">Activity Types</a> page</h2>
</div>
<div class="card" *ngIf="!activities">
    <h2 *ngIf="!activities">loading page...</h2>
</div>

<div class="card" *ngIf="activities && activityTypes?.length">
    <div class="filter-section">
        <label>Filter by type: </label>
        <select (change)="onActivityTypeChange($event.target)" [value]="filterActivityTypeId">
            <option value="0">All</option>
            <option *ngFor="let activityType of activityTypes" [value]="activityType.id?.toString()">{{ activityType.name }}</option>
        </select>
    </div>
    <div class="filter-section">
        <label>Order by date: </label>
        <select [(ngModel)]="filterOrderType">
            <option value='asc'>Ascending</option>
            <option value='desc'>Descending</option>
        </select>
    </div>
    <h2 *ngIf="activityTypes?.length && activities && !previewActivities?.length">No Activities</h2>
    <button *ngIf="activities" routerLink="/activities/create">Create New Activity</button>
</div>

<div *ngFor="let activity of previewActivities | sortByDate: filterOrderType">
    <app-activity-card [activity]="activity" (onDeleted)="removeActivity($event)"></app-activity-card>
</div>